
/* All Tables */
.tables {
  margin-left: 110px;
  margin-top: 100px;
}
/* Table */
.table_alpha {
  max-width: 1000px;
  font-size: 14px;
  margin-left: 250;
}

/* Header */
.header_alpha {
  background-color:rgb(223, 223, 223);
  display: flex;
  font-size: 17px;
  min-width: 980px;
  height: 50px;
  border: 1px solid blue;
}

.entityName_header {
  width: 180px;
  margin-left: 30px;
  border: 1px solid blue;
}

.market_header {
  width: 120px;
  border: 1px solid blue;
}
.calcProb_header {
  width: 120px;
  border: 1px solid blue;

}
.bookieOdds_header {
  width: 120px;
  border: 1px solid blue;
}
.alpha_header {
  width: 90px;
  border: 1px solid blue;
}
.kellyCriterion_header {
  width: 130px;
  border: 1px solid blue;
}
.fixetureId_header {
  width: 130px;
  border: 1px solid blue;
}
.teamID_header {
  width: 90px;

  border: 1px solid blue;
}
.stack_header {
  width: 130px;
  border: 1px solid blue;
}

/*Cells*/


.tableCell_alpha_entity_name {
  min-width: 180px;
  background-color:rgb(223, 223, 223);

}

.tableCell_alpha {
  min-width: 110px;
  height: 30px;
  text-align: center;
}

.tableCell_alpha_editable {
  width: 130px;

}

.alphaButton {
  border: 1px solid black;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px 10px 0px;
}

.button_clear_submit {
  margin-left: 1030px;
}

#stack {
  border: 1px solid black;
  width: 130px;
}

.aboutSection {
  width: 1000px;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 40px;
  margin-left: 200px;
}
.aboutSection > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.body_alpha {
  border: 1px solid green;
  min-width: 980px;
}


@media (min-width: 700px) {
  .tables {
    max-width: 500px;
  }
}