
/* All Tables */
.tables {
  margin-left: 110px;
  margin-top: 100px;
}
/* Table */
.table_alpha {
  max-width: 1200px;
  border: 1px solid black;
  font-size: 14px;
  margin-left: 250;
}

/* Header */
.header_alpha {
  background-color:rgb(223, 223, 223);
  display: flex;
  font-size: 17px;
  max-width: 1200px;
  height: 50px;
}

.header_alpha > p {
  max-width: 1200px;
}

.entityName_header {
  width: 150px;
}

.market_header {
  width: 130px;
}
.calcProb_header {
  width: 130px;

}
.bookieOdds_header {
  width: 130px;
}
.alpha_header {
  width: 130px;
}
.kellyCriterion_header {
  width: 130px;
}
.fixetureId_header {
  width: 130px;
}
.teamID_header {
  width: 130px;
  margin-right: 20px;
}
.stack_header {
  width: 130px;
}

/*Cells*/

.tableCell_alpha_entity_name {
  width: 150px;
}

.tableCell_alpha {
  width: 130px;
}

.tableCell_alpha_editable {
  width: 130px;

}

.alphaButton {
  border: 1px solid black;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px 10px 0px;
}

.button_clear_submit {
  margin-left: 1030px;
}



