.header {
    background-color: #cfcfcf;
    display: flex;
    font-size: 20px;
    color: #10375c;
    width: 1200px;
  }

  .header > p {
    margin-right: 70px;
  }

.entityName {
  width: 150px;
}

.tableCell {
  width: 150px;
}

.table {
  max-width: 1200px;
  border: 1px solid black;
  font-size: 14px;
  margin-left: 250;
}

th, td {
  /* border: 1px solid #343a40; */

  text-align: left;
}

th {
  background-color: #087f5b;
  color: #fff;
  width: 25%;
}

tbody tr:nth-child(odd){
  background-color: #f8f9fa;
}


tbody tr:nth-child(even){
  background-color: #e9ecef;
}

.alphaTable {
  margin-left: 110px;
  margin-top: 200px;
}