

/* Table */


/* Header */
.header_alpha {
  background-color:rgb(245, 245, 245);
  display: flex;
  font-size: 15px;
  font-weight: 800;
  width: 70%;
  margin: 0 auto;
}

.entityName_header {
  width: 130px;
  text-align: center;
}

.market_header {
  width: 130px;
  text-align: center;
}
.calcProb_header {
  width: 130px;
  text-align: center;

}
.bookieOdds_header {
  width: 130px;
  text-align: center;
}
.alpha_header {
  width: 130px;
  text-align: center;
}
.kellyCriterion_header {
  width: 130px;
  text-align: center;
}
.fixetureId_header {
  width: 130px;
  text-align: center;
}
.teamID_header {
  width: 130px;
  text-align: center;

}
.stack_header {
  width: 130px;
  text-align: center;
}

/*Cells*/


.tableCell_alpha_entity_name {
  min-width: 180px;

}

.tableCell_alpha {
  min-width: 110px;
  text-align: center;
}

/*Button*/

.button_stack {
  display: flex;
  justify-content: center;
  margin-left: 820px;
  margin-top: 10px;
}

.button_container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.alphaButton {
  border: 1px solid black;
  padding: 1px 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  margin-right: 20px;
}

.button_clear_submit {
  margin-left: 1030px;
}


.aboutSection {
  width: 1000px;
  height: 200px;
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 40px;
  margin-left: 200px;
}
.aboutSection > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}



