
/* Table */
.table_fixtureA {
    max-width: 1200px;
    border: 1px solid black;
    font-size: 14px;
    margin-left: 250;
  }
  
  /* Header */
  .header_fixtureA {
    background-color:rgb(223, 223, 223);
    display: flex;
    font-size: 17px;
    max-width: 1200px;
    height: 50px;
  }
  
  .header_fixtureA> p {
    max-width: 1200px;
    margin-right: 80px;
  }
  
  .teamName_header {
    width: 180px;
  }
  
  .form_header {
    width: 190px;
  }
  .position_header {
    width: 190px;
  }
  .averageXg_header {
    width: 190px;
  }
  .oppositionXgc_header {
    width: 190px;
  }
  .fixetureIdA_header {
    width: 190px;
  }
  .teamIdA_header {
    width: 190px;
  }
  
  /*Cells*/
  
  .tableCell_fixtureA_teamName {
    width: 160px;
  }
  
  .tableCell_fixtureA {
    width: 190px;
  }
  

  
  
  
  