
/* Table */

.table_fixture {
  border: 1px solid green;
}
  


  /* Header */
  .header_fixtureA {
    background-color:rgb(223, 223, 223);
    display: flex;
    font-size: 17px;
    width: 70%;
    margin: 0 auto;
  }
  
  .header_fixtureA> div {
    border: 1px solid blue;
  }
  
  .teamName_header {
    width: 180px;
    text-align: center;
  }
  
  .form_header {
    width: 190px;
    text-align: center;
  }
  .position_header {
    width: 190px;
    text-align: center;
  }
  .averageXg_header {
    width: 190px;
    text-align: center;
  }
  .oppositionXgc_header {
    width: 190px;
    text-align: center;
    
  }
  .fixetureIdA_header {
    width: 190px;
    text-align: center;
  }
  .teamIdA_header {
    width: 190px;
    text-align: center;
  }
  
  /*Cells*/
  
  /* .tableCell_fixtureA_teamName {
    width: 120px;
  } */
  
/*   .tableCell_fixtureA {
    width: 190px;
  } */
  
  .fixtureButton {
    border: 1px solid black;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    margin: 10px 30px 10px 0px;
  }

  
  
  
  